* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --page-number: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Jersey 15", sans-serif;
}

/* Fluid Typography Scale */

h1, .fs-h1 {
	font-size: clamp(3rem, 1rem + 40vw, 30rem);
}

h2, .fs-h2 {
	font-size: clamp(2.25rem, 1.618rem + 2.5282vw, 3.6405rem);
}

h3, .fs-h3 {
	font-size: clamp(1.875rem, 1.3483rem + 2.1068vw, 3.0338rem);
}

h4, .fs-h4 {
	font-size: clamp(1.5rem, 1.0786rem + 1.6855vw, 2.427rem);
}

h5, .fs-h5 {
	font-size: clamp(1.25rem, 0.8989rem + 1.4045vw, 2.0225rem);
}

h6, .fs-h6 {
	font-size: clamp(1.125rem, 0.809rem + 1.2641vw, 1.8203rem);
}

p, .fs-p {
	font-size: clamp(0.618rem, 0.4444rem + 0.6945vw, 1rem);
}



/* Animation for the slime box */
.button {
    position: fixed;
    z-index: 1000;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 50%);
    cursor: pointer;
    color: white;
    user-select: none;
}

.button-left {
    transform: translate(-90px, -50%);
}

.button-right {
    transform: translate(50px, -50%);
}
.box {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 2px solid transparent;
    height: 400px;
    width: 400px;
    background-image: url(../assets/slime.png);
    background-size: auto 400%;
    --position-top: 0;
    background-position: 0 var(--position-top);
    animation: Animate 0.7s steps(7) infinite;
    position: fixed;
    z-index: 1000;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

}
.box.idle {
    --position-top: 0%
}
.box.left {
    --position-top: 200%
}
.box.right {
    --position-top: 100%
}
@keyframes Animate {
    to {
        background-position: 100% var(--position-top); 
    }
}

/* Scroll Page */
.page {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(to bottom, #0000ff, #000066); */
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: var(--page-number); /*Tergantung jumlah page */
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, #fff, #fff 70%, #808080);
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

/* Decoration */
.decoration {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 10px solid black;
    outline: 500px solid black;
    outline-offset: -1px;
    border-radius: 60px;
    pointer-events: none;
    box-shadow: inset 5px 5px 100px #000;
}

h1 {
    color: 121212;
    z-index: 2;
    position: relative;
}

.h1_hello:before{
    background-clip: text;
    content: "Hello!";
    z-index: 1;
    position: absolute;
    transform: skew(-64deg, 0) translate(-20%, 15%) scaleY(-0.5);
    mask-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    margin-left: 24.1%;
    margin-top: 11.7%;
}

.h1_park:before{
    background-clip: text;
    content: "Park";
    z-index: 1;
    position: absolute;
    transform: skew(-64deg, 0) translate(-20%, 15%) scaleY(-0.5);
    mask-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    margin-left: 25%;
    margin-top: 13.8%;
}

p {
    color: cyan;
    text-align: center;
}


/* Page Section*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}


.transition {
    background-image: linear-gradient(to right, #fff, #000),linear-gradient(to bottom, #fff, #fff 70%, #808080);
    background-blend-mode: multiply;
    font-size: 20px;
}

.dark {
    background-image: none;
    background-color: #000;
    color: #fff;
}



/* .tes {
    position: fixed;
    z-index: 1000;
    top: 90%;
    left: 50%;
} */

/* .special {
    position: relative;
} */


/* Animation */
@keyframes textWave {
    0%, 100% { transform: translateY(0); } 50% { transform: translateY(-10px); }
}
        
.textWave {
    animation: textWave 2s ease-in-out infinite;
}

.door {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 50vh;
    cursor: pointer;
}

video{
    width: 100vh;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 60px;
}

.after {
    display: none;
}

.forest {
    background-image: url(../assets/forest.png);
    background-size: fill;
    background-position: bottom;
    background-repeat: repeat-x;
}

.class {
    background-image: url(../assets/class.png);
    background-size: auto 100%;
    background-position: 100% -25px;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

iframe {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 5px solid #000;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.profile:hover {
    transform: scale(1.1);
}

.profile_name {
    margin-bottom: 80px;
}

.nicho {
    background-image: url(../assets/profile/nicho.png);
}

.nicho:hover {
    background-size: 200%;
    background-position: -70px -250px;
}

.nathan {
    background-image: url(../assets/profile/nathan.png);
}

.nathan:hover {
    background-image: url(../assets/profile/mmm.png);
    background-position: 0 -130px;

}

.jv {
    background-image: url(../assets/profile/jv.png);
}
.wesley {
    background-image: url(../assets/profile/wesley.png);
    background-position: 0 -10px;
}

.wesley:hover {
    background-image: url(../assets/profile/wesley2.png);
    background-position: 0 0; 
}


.valiant {
    background-image: url(../assets/profile/valiant.png);
}